body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* To center vertically as well */
    margin: 0;
}

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    /* width: 100%; */
    /* max-height: 10px; */
    display: flex;
    /* padding: 10px 40px; */
    align-items: center;
    /* justify-content: space-between; */
    /* border: 2px solid red; */
}

.search input {
    /* border-bottom: solid 1px rgb(127, 123, 123); */
    outline: 0;
    border: 0;
    background: #ebfffc;
    color: #5555;
    padding: 0px 15px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 15px;
    font-weight: bold;
}

.search button {
    background-color: white;
    height: 50px;
    width: 95px;
    border-radius: 50%;
    border: 0;
    position: relative;



}

.search button img {
    /* width: 30px;
    height: 30px;
  
    overflow: hidden;
    position: relative;
    top: 4px; */
    width: 25px;
    position: absolute;
    top: 11px;
    right: 14px;
}

.weather-icon {
    width: 170px;
    /* margin-top: 30px; */

}

.weather h1 {
    font-size: 60px;
    margin-top: -20px;
    font-weight: 500;

}

.weather h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10 20px;
    margin-top: 20px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40PX;
    margin-right: 10PX;
}
/* .temp{
    font-size: 30vw;
} */

.humidity,
.wind {
    font-size: 1.5vw;
    margin-top: -6px;
    /* position: relative;display: flex;
    justify-content: space-between;
    margin: 10px 0px; */
}