body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;   

}

.search {

    display: flex;
    align-items: center;
 
}

.search input {
    outline: 0;
    border: none;
    background: #ebfffc;
    color: #5555;
    padding: 0px 15px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.25 border;
}

.search button {
    background-color: white;
    height: 50px;
    width: 95px;
    border-radius: 50%;
    border: 0;
    position: relative;



}

.search button img {

    width: 25px;
    position: absolute;
    top: 11px;
    right: 14px;
}

.weather-icon {
    width: 170px;
}

.weather h1 {
    font-size: 60px;
    margin-top: -20px;
    font-weight: 500;

}

.weather h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10 20px;
    margin-top: 20px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40PX;
    margin-right: 10PX;
}

.humidity,
.wind {
    font-size: 1.5vw;
    margin-top: -6px;
}
.background-message{
    margin-top: 20px;
}